
body{
    margin:0;
    font-family: Arial, sans-serif;
    background: radial-gradient(circle, #020617, black);
    color:#e2e8f0;
}

.navbar{
    display:flex;
    justify-content:space-between;
    padding:20px;
    background:#0f172a;
}

.navbar a{
    color:#38bdf8;
    text-decoration:none;
    font-size:18px;
}

.navbar a:hover{
    text-shadow:0 0 8px #38bdf8;
}

.hero{
    text-align:center;
    margin-top:120px;
    padding:20px;
}

.hero h1{
    font-size:48px;
}

.hero p{
    margin-top:15px;
    font-size:18px;
}

.btn{
    display:inline-block;
    margin-top:20px;
    padding:12px 25px;
    background:#38bdf8;
    color:black;
    text-decoration:none;
    border-radius:5px;
    transition:0.3s;
}

.btn:hover{
    box-shadow:0 0 15px #38bdf8;
}

.login-container{
    width:300px;
    margin:120px auto;
    background:#0f172a;
    padding:30px;
    border-radius:10px;
    text-align:center;
    box-shadow:0 0 20px rgba(56,189,248,0.3);
}

.login-container input{
    width:100%;
    padding:10px;
    margin:10px 0;
    border:none;
    border-radius:5px;
}

.login-container button{
    width:100%;
    padding:10px;
    background:#38bdf8;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

.dashboard{
    display:flex;
}

.sidebar{
    width:200px;
    background:#0f172a;
    height:100vh;
    padding:20px;
}

.sidebar ul{
    list-style:none;
    padding:0;
}

.sidebar li{
    margin:15px 0;
}

.sidebar a{
    color:#e2e8f0;
    text-decoration:none;
}

.sidebar a:hover{
    color:#38bdf8;
}

.main{
    flex:1;
    padding:20px;
}

.asteroid-grid,
.watchlist-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
}

.card{
    background:#0f172a;
    padding:20px;
    border-radius:12px;
    transition:0.3s;
}

.card:hover{
    transform:scale(1.05);
    box-shadow:0 0 20px #38bdf8;
}

.risk{
    padding:5px 10px;
    border-radius:5px;
    font-size:14px;
}

.low{
    background:#22c55e;
}

.medium{
    background:orange;
}

.high{
    background:#ef4444;
}

button{
    margin-top:10px;
    padding:8px;
    background:#38bdf8;
    border:none;
    border-radius:5px;
    cursor:pointer;
}
.countdown{
    margin-top:10px;
    font-size:14px;
    color:#38bdf8;
}

@media(max-width:768px){

    .dashboard{
        flex-direction:column;
    }

    .asteroid-grid,
    .watchlist-grid{
        grid-template-columns:1fr;
    }

}
